body {
    font-family: "Times New Roman", sans-serif;
    background-color: #FFF5EE;
    margin: 0;
    padding: 0;
}

.chat-container {
    width: 400px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 90vh;
}

.chat-header {
    background-color: #FFA07A;
    color: #fff;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
}

.chat-box {
    flex: 1;
    height: 300px;
    overflow-y: scroll;
    padding: 10px;
    background-color: #fff;
}

.chat-message {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    animation: fadeIn 0.5s ease-in-out;
}

.user-message {
    align-items: flex-end;
}

.chat-message-text {
    background-color: #FFF5EE;
    padding: 10px;
    border-radius: 5px;
    max-width: 70%;
    word-wrap: break-word;
}

.bot-message .chat-message-text {
    background-color: #E8DED8;
    color: black;
}

.user-message .chat-message-text {
    background-color: #FF8a54;
    color: white;
}

.chat-input {
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 2px solid #E8DED8;
}

.chat-input input {
    flex-grow: 1;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #E8DED8;
    outline: none;
}

.chat-input button {
    background-color: #FFA07A;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-left: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.chat-input button:hover {
    background-color: #FF8a54;
    transform: scale(1.05);
}

/* Animacja wchodzenia wiadomości */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


.sparkle {
    position: fixed;
    width: 10px;
    height: 10px;
    background: radial-gradient(circle, #ffffff 0%, #f0e68c 60%, transparent 100%);
    border-radius: 50%;
    pointer-events: none;
    animation: sparkleAnimation 1s forwards;
    z-index: 9999;
}

@keyframes sparkleAnimation {
    0% {
        opacity: 1;
        transform: scale(1) translateY(0px);
    }
    50% {
        opacity: 0.8;
        transform: scale(1.5) translateY(-20px);
    }
    100% {
        opacity: 0;
        transform: scale(0.5) translateY(-40px);
    }
}
