body {
    font-family: "Times New Roman", sans-serif;
    background-color: #FFF5EE;
}

.chat-container {
    width: 400px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.chat-header {
    background-color: #FFA07A;
    color: #fff;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.chat-box {
    height: 300px;
    overflow-y: scroll;
    padding: 10px;
}

.chat-message {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chat-message-text {
    background-color: #FFF5EE;
    padding: 10px;
    border-radius: 5px;
    max-width: 70%;
    word-wrap: break-word;
}

.chat-input {
    display: flex;
    align-items: center;
    padding: 10px;
}

.chat-input input {
    flex-grow: 1;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #E8DED8;
    outline: pointer;
}

.chat-input button {
    background-color: #FFA07A;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.chat-input button:hover {
    background-color: #FF8a54;
    transform: scale(1.05);
}
